<launch>
  <arg name="odom_topic" default="/diy_odom"/>
  <arg name="yolo_topic" default="/target_3d_position"/>
  <arg name="target_topic" default="/target_ekf_odom"/>

  <node name="target_ekf_node" pkg="target_ekf" type="target_ekf_node" output="screen">
    <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
    <param name="pitch_thr" value="37"/>
    <remap from="~yolo" to="$(arg yolo_topic)"/>
    <remap from="target_ekf_node/odom" to="$(arg target_topic)"/>
  </node>
</launch>
