<launch>
  <arg name="camera_color_topic" default="/iris_0/realsense/depth_camera/color/image_raw" />
  <arg name="camera_depth_topic" default="/iris_0/realsense/depth_camera/depth/image_raw" />
  <arg name="odom_topic" default="/iris_0/mavros/vision_odom/odom" />
  <arg name="modified_depth" default="/iris_0/realsense/depth_camera/depth/image_raw" />
  <node pkg="target_ekf" type="detect_ros.py" name="detect_node" output="screen">
    <remap from="/uav_color" to="$(arg camera_color_topic)" />
    <remap from="/uav_depth" to="$(arg camera_depth_topic)" />
    <remap from="/uav_odom" to="$(arg odom_topic)" />
    <remap from="/modified_depth_image" to="$(arg modified_depth)" />
  </node>
</launch>