<launch>
  <!-- 参数化配置 -->

  <arg name="camera_color_topic" default="/camera/color/image_raw" />
  <arg name="camera_depth_topic" default="/camera/depth/image_rect_raw" />
  <arg name="odom_topic" default="/vision_odom" />
  <arg name="modified_depth" default="/camera/depth/image_rect_raw" />
  <arg name="target_odom" default="/target_ekf_odom" />

  <group ns="drone0">
    <!-- 传递参数到 mapping.launch -->
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_topic" value="$(arg odom_topic)" />
      <arg name="depth_topic" value="$(arg camera_depth_topic)" />
      <arg name="target_topic" default="$(arg target_odom)"/>
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap" />
      <remap from="~gridmap_inflate" to="gridmap_inflate" />
    </node>

    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization"
      output="screen">
      <remap from="~odom" to="$(arg odom_topic)" />
      <param name="robot_scale" value="1.0" />
    </node>

    <node pkg="target_ekf" type="yolo_detector_node.py" name="detect_node" output="screen">
      <remap from="/uav_color" to="$(arg camera_color_topic)" />
      <remap from="/uav_depth" to="$(arg modified_depth)" />
      <remap from="/uav_odom" to="$(arg odom_topic)" />
      <!-- <remap from="/modified_depth_image" to="$(arg modified_depth)" /> -->
    </node>

    <node pkg="target_ekf" name="target_ekf_node" type="target_ekf_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/D435_sim.yaml" />
      <param name="ekf_rate" value="20"/>
      <param name="pitch_thr" value="37" />
      <remap from="~yolo" to="/yolo_detect" />
      <remap from="~target_odom" to="$(arg target_odom)" />
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="rhosVisibility_" value="10000.0" />
      <arg name="rhoTracking_" value="1000.0" />
      <arg name="target_name_" value="$(arg target_odom)" />
    </include>
  </group>
</launch>