<launch>
  <!-- 参数化配置 -->

  <arg name="camera_color_topic" default="/iris_0/realsense/depth_camera/color/image_raw" />
  <arg name="camera_depth_topic" default="/iris_0/realsense/depth_camera/depth/image_raw" />
  <arg name="odom_topic" default="/iris_0/mavros/vision_odom/odom" />
  <arg name="modified_depth" default="/iris_0/modified_depth" />
  <arg name="target_odom" default="/target_ekf_odom" />

  <group ns="drone0">
    <!-- 传递参数到 mapping.launch -->
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_topic" value="$(arg odom_topic)" />
      <arg name="depth_topic" value="$(arg camera_depth_topic)" />
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap" />
      <remap from="~gridmap_inflate" to="gridmap_inflate" />
    </node>

    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization"
      output="screen">
      <remap from="~odom" to="$(arg odom_topic)" />
      <param name="robot_scale" value="1.0" />
    </node>


    <node pkg="target_ekf" name="target_ekf_node" type="target_ekf_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/D435_sim.yaml" />
      <!-- <param name="ekf_rate" value="20"/> -->
      <param name="pitch_thr" value="37" />
      <remap from="~yolo" to="/target_3d_position" />
      <remap from="~odom" to="/target_ekf_odom" />
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="rhosVisibility_" value="10000.0" />
      <arg name="rhoTracking_" value="1000.0" />
      <arg name="target_name_" value="$(arg target_odom)" />
      <arg name="odom_topic_" value="$(arg odom_topic)" />
    </include>
  </group>
</launch>